langchain
langgraph 
langchain_openai
langchain_community
langchain_ollama 
ollama 
tavily-python
langchain_tavily
yfinance
finnhub-python
stockstats
beautifulsoup4
chromadb
rich
pandas
requests
pydantic
python-dotenv
pygraphviz>=1.11